@import "slick-carousel/slick/slick.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  margin: 0;
}

#welcome-to-eyes {
  color: #fff;
  background: #000;
  height: 100vh;
  width: 100vw;
}

#window-title {
  height: 37px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 5;
}

#window-title h1 {
  margin: 0;
  color: #9B9B9B;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 400
}

#content{
  padding-top: 40px;
  color: #434343;
}

#logo {
  text-align: center;
}
#logo img {
  width: 150px;
}
